h1, h2, h3 {
    font-family:$oldstandardtt;
}

p {
    font-family:$raleway;
    font-size: $medium;
    line-height:1.5em;
    color:$granite-gray;
}

h1 {
    font-size:$xx-large;
    font-weight: $bold;
}

h2 {
    font-size:$x-large;
    font-weight: $bold;
}

h3 {
    font-size:$large;
    font-weight:$bold;
}